Banner {
    height: 5em;
}

section {
    height: 60em;
    background-image: url("./resources/pictures/portfoliopic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card img {
    height: 10em;
}

.card {
    text-align: center;
    border-radius: 10em;
    width: 20em;
    height: 20em;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3em;
}
